{% extends 'base.html' %} {%block title%}User Profile{%endblock title%}
<!--load bootstrap-->
{%load bootstrap5 %} {% block content %}
<!--<h1>userprofile</h1>-->
<div class="container my-5 shadow-lg py-3 my-3 rounded-3">
  <!--    { # user info #}-->
  <div class="row shadow-sm py-3 my-3 rounded-3 justify-content-center">
    <div class="col">
      {%if user.profile_picture %}
      <img
        src="{{user.profile_picture.url}}"
        alt="profile_picture"
        class="img-fluid"
        style="width: 200px"
      />

      {%endif%}
    </div>
    <div class="col-10">
      <div class="d-flex justify-content-between">
        <!-- User Info -->

        <table class="table table-sm table-borderless fw-lighter fs-5 px-4">
          <tr>
            <td>Full Name</td>
            <td class="fw-normal">
              {{user.user.first_name}} {{user.user.last_name}}
            </td>
          </tr>
          <tr>
            <td>Username</td>
            <td class="fw-normal">{{user.user.username}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td class="fw-normal">{{user.user.email}}</td>
          </tr>
          <tr>
            <td>Facebook</td>
            <td class="fw-normal">{{user.facebook_profile}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td class="fw-normal m-4">{{user.country}}</td>
          </tr>
        </table>

        <!-- Edit and delete buttons -->
        {% buttons %}

        <a
          class="btn btn-outline-dark btn-sm"
          href="{%url 'edit_profile_page' %}"
          >Edit Profile</a
        >
        <a
          class="btn btn-outline-danger btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          >Delete Profile</a
        >

        <!-- Delete Confirmation Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete your profile permanently?
              </div>
              <div class="modal-footer">
                <a
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  >Cancel</a
                >
                <a
                  type="button"
                  class="btn btn-primary"
                  href="{%url 'delete_user_profile' %}"
                  >Confirm</a
                >
              </div>
            </div>
          </div>
        </div>

        {% endbuttons %}
      </div>
    </div>
  </div>
  <!-- User Participations  -->
  <div class="container my-5">
    <p>
      <a
        class="btn btn-primary"
        data-bs-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Projects
      </a>
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExampletwo"
        aria-expanded="false"
        aria-controls="collapseExampletwo"
      >
        Donations
      </button>
      {%if user.user.is_staff%}
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExamplethree"
        aria-expanded="false"
        aria-controls="collapseExamplethree"
      >
        Reports
      </button>
      {%endif%}
    </p>

    <!--    user projects -->
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="container my-5">
          <h3 class="display-6">Projects</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="align-middle text-center">
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Category</th>
                  <th scope="col">Total Target</th>
                  <th scope="col">Current Fund</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Comments reports</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {%for project in projects %}
                <tr class="align-middle text-center">
                  <th scope="row">{{project.id}}</th>
                  <td>{{project.title}}</td>
                  <td>{{project.category}}</td>
                  <td>{{project.total_target}}</td>
                  <td>{{project.current_fund}}</td>
                  <td>{{project.start_date}}</td>
                  <td>{{project.end_date}}</td>
                  <td>{{project.total_rate}}</td>
                  <td>
                    <p>Comment Owner</p>
                    <p>Comment Details</p>
                  </td>
                  <td>
                    <a
                      class="btn btn-outline-dark btn-sm"
                      href="{% url 'details-project' project.id %}"
                      >View</a
                    >
                    <a
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdropproject"
                      >Delete Project</a
                    >

                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="staticBackdropproject"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLabeltwo"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabeltwo">
                              Modal title
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete your project
                            permanently?
                          </div>
                          <div class="modal-footer">
                            <a
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                              >Cancel</a
                            >
                            <a
                              type="button"
                              class="btn btn-primary"
                              href="{%url 'delete-project' project.id %}"
                              >Confirm</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--    user donations-->
    <div class="collapse" id="collapseExampletwo">
      <div class="card card-body">
        <div class="container my-5">
          <h3 class="display-6">Donations</h3>
          <h4>Total Donations Amount {{total_donations}}</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Project Title</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for donation in donations%}
              <tr>
                <th scope="row">{{donation.project.title}}</th>
                <td>{{donation.amount}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--    Reports to admin -->
    <div class="collapse" id="collapseExamplethree">
      <div class="card card-body">
        <div class="container my-5">
          <h3 class="display-6">Reported Projects</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Project ID</th>
                <th scope="col">Project title</th>
                <th scope="col">Project Owner</th>
                <th scope="col">Reports</th>
              </tr>
            </thead>
            <tbody>
              {%for report in reported_projects%}
              <tr>
                <th scope="row">{{report.project.id}}</th>
                <td>{{report.project.title}}</td>
                <td>{{report.project.project_owner}}</td>
                <td>{{report.project.reports_count}}</td>
                <td><a
                  class="btn btn-outline-dark btn-sm"
                  href="{% url 'details-project' report.project.id %}"
                  >View</a</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <div class="container my-5">
          <h3 class="display-6">Reported Comments</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Project ID</th>
                <th scope="col">Project title</th>
                <th scope="col">Project Owner</th>
                <th scope="col">Comment Owner</th>
                <th scope="col">Comment Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
