{% extends 'base.html' %} {%block title%}User Profile{%endblock title%}
  <!--load bootstrap-->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--custom tags-->
{% load myapp_extras %}
{% block content %}
<div class = "container">  
  <form method="post" class="w-50 mx-auto pt-5 pb-5"enctype="multipart/form-data">
    <h2 class='mx-auto'>Sign up</h2>
    {% csrf_token %}

      {% bootstrap_form form %}
        

       {% for field in form %}  
      <p>    
        {% for error in field.errors %}  
          <p style="color: red">{{ error }}</p>  
        {% endfor %}  
      </p>  
      {% endfor %}  
      {% bootstrap_form profile %}
        

      {% for field in profile %}  
     <p>    
       {% for error in field.errors %}  
         <p style="color: red">{{ error }}</p>  
       {% endfor %}  
     </p>  
     {% endfor %}  
    <input type="submit"class="boxed-btn3 w-100" value='Sign up'> 
    <div class="text-danger"><a href="{% url 'signin' %}">do you have acount?</a></div>
  </form>  
</div>  



{% endblock %}