{% extends 'base.html' %} {% block title %}Project details{% endblock title %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>{{project.title}}</h2>
      <div class="w3-content w3-display-container">
        {% for pic in pics %}
        <div class="w3-display-container mySlides">
          <img src="http://127.0.0.1:8000/media/{{pic.picture}}" width="100%" />
        </div>
        {% endfor %}
        <button
          class="w3-button w3-display-left w3-black"
          onclick="plusDivs(-1)"
        >
          &#10094;
        </button>
        <button
          class="w3-button w3-display-right w3-black"
          onclick="plusDivs(1)"
        >
          &#10095;
        </button>
      </div>
      Details: {{project.details}}<br />
      Category: {{project.category}}<br />
      Tags: 
      {% for tag in project.tag_set.all %} 
      {{tag.tag_name}} &nbsp;-
      {% endfor %} <br>
      Funding: {{project.current_fund}} /
      {{project.total_target}}<br />
      Start date: {{project.start_date}}<br />
      End date: {{project.end_date}}<br />
      Average rate: {{project.average_rate}}<br />

      ::Comments::
      <hr />
      {% for comment in project.comment_set.all %}
      {{comment.user_commented}}:<br />
      {{comment.content}}
      <hr />
      {% endfor %} {{ form.as_p }}
      <a href="{% url 'rate-project' project.id %}" class="btn btn-info">Rate Project</a>
      <a href="{% url 'donate-project' project.id %}" class="btn btn-success"
        >Donate</a
      >
      <a href="{% url 'create-comment' project.id %}" class="btn btn-success"
        >Comment</a
      >
      

      <a
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdropsecond"
      >Report Project</a
      >

              <!-- Modal -->
              <div
              class="modal fade"
              id="staticBackdropsecond"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabelsecond"
              aria-hidden="true"
              >
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabelsecond">Modal title</h5>
                  <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                  ></button>
                  </div>
                  <div class="modal-body">
                  Are you sure you want to report this project?
                  </div>
                  <div class="modal-footer">
                  <a type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      >Cancel</a
                  >
                  <a
                      type="button"
                      class="btn btn-primary"
                      href="{%url 'report-project' project.id %}"
                      >Confirm</a
                  >
                  </div>
              </div>
              </div>
          </div>


      {% if project.project_owner == current_user %}
      <a
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdropthird"
        >Delete Project</a
      >

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdropthird"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabelthird"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabelthird">
                Delete Confirmation
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your project permanently?
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                >Cancel</a
              >
              <a
                type="button"
                class="btn btn-primary"
                href="{%url 'delete-project' project.id %}"
                >Confirm</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- <a href="{% url 'delete-project' project.id %}" class="btn btn-danger">Delete</a> -->
      {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<script>
  // Project Image Slider
  let slideIndex = 1;
  let myIndex = 0;

  function showDivs(n) {
    let i;
    const x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }

  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs((slideIndex += n));
  }
  function carousel() {
    let i;
    const x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {
      myIndex = 1;
    }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 5 seconds
  }
  carousel();
</script>
{% endblock content %}
