{% extends 'base.html' %} {% block title %}Projects{% endblock title %}
<!--content-->
{% block content %}

<section class="py-5 text-center cf-bg-light-green">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Projects directory</h1>
      <p class="lead text-muted">
        This directory contains a lot of projects and campaigns that can make
        the world a better place, thanks to your donations!
      </p>
      <p>
        <a href="#projects-section" class="btn btn-success my-2">Donate</a>
        <a href="{% url 'create-project' %}" class="btn btn-primary my-2"
          >Create a project</a
        >
      </p>
    </div>
  </div>
</section>

<section class="container" id="projects-section">
  {% if object_list|length > 0 %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
    {% for project in object_list %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="http://127.0.0.1:8000/media/{{project.images.all.0.picture}}"
          alt="Card image cap"
          style="height: 320px"
        />

        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.details|truncatechars:40}}</p>
          <a
            href="{% url 'details-project' project.id %}"
            class="btn btn-success"
            >View Project</a
          >
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <p class="fs-4 fw-light py-5 text-center">
    It seems like there is no projects currently running, take the initiative
    and create one!
  </p>
  {% endif %}
</section>
{% endblock content %}
